/* นำเข้าฟอนต์ Prompt จาก Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

/* ตั้งค่าตัวแปรสีและฟอนต์*/
@theme {
  /* ตั้งค่าสี */
  --color-primary: #CCD5AE;
  --color-secondary: #E0E5B6;
  --color-other: #FAEDCE;
  --color-background: #FEFAE0;
  
  /* ตั้งค่าชื่อฟอนต์ */
  --font-prompt: "Prompt", sans-serif;
}

/* กำหนดตั้งค่าเริ่มต้นให้กับทั้งหน้าเว็บ */
@layer base {
  body {
    font-family: "Prompt", sans-serif; /* ให้ทุกที่ใช้ฟอนต์ Prompt */
    background-color: #FEFAE0;         /* สีพื้นหลัง */
  }
}